.Weather {
    border: 1px solid #dadde1;
}

.Weather h1 {
    color: #878787;
    color: rgb(135, 135, 135);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
}